<h3>Filter</h3>
<mat-form-field>
<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>

  <!-- ID Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let row"> {{row.city}} </td>
    </ng-container>

    <!-- Employee Name Column -->
    <ng-container matColumnDef="conditions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Conditions </th>
      <td mat-cell *matCellDef="let row"> {{row.conditions}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temp </th>
      <td mat-cell *matCellDef="let row"> {{row.temperature}} </td>
    </ng-container>

    <!-- Hours Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.description"> {{row.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
